$font-main: 'Lato', sans-serif;

$color-text: #102746;
$color-text-add: #fff;
$color-button: #006DFE;
$color-link: #006DFE;
$color-border: #BFC0C5;

$width-content: 1280px;
$width-content-add: 1060px;